/* -------------- Carousel styling -------------- */

.carousel {
    width: 100%;
}

.navigation {
    position: absolute;
    border: none;
    width: 4vw;
    cursor: pointer;
    opacity: 0.8;
}

#left-button {
    top: 16vw;
    left: 6%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#right-button {
    top: 16vw;
    left: 94%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
  
.slide-holder {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.slide-holder > .slide {
    position: relative;
    display: none;
    animation: 0.6s ease-in-out;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
}

.slide-holder > .active,
.slide-holder > .next {
    display: block;
}
  
.slide-holder > .next {
    position: absolute;
    top: 0;
    width: 100%;
}
  
.slide-holder > .to-left {
    animation-name: left;
}
  
.slide-holder > .from-right {
    animation-name: right;
}
  
.slide-holder > .to-right {
    animation-name: right;
    animation-direction: reverse;
}
  
.slide-holder > .from-left {
    animation-name: left;
    animation-direction: reverse;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}
  
@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}


/* -------------- Details styling -------------- */

.details {
    padding-left: 8vw;
    padding-right: 8vw;
    font-family: Lato, Helvetica, sans-serif;
    display: block;
}


.details div h1, .links {
    text-align: center;
    color: #4F5165;
}

a {
    cursor: pointer;
}

h2 {
    margin-left: 3vw;
    color: #53aaa6;
}

.details div h3 {
    margin-bottom: 1.2vw;
    margin-top: 0;
    color: #7c7c7c;
}

hr {
    width: 75%;
}

p {
    font-size: x-small;
    margin-left: 2vw;
    margin-right: 2vw;
}

.section {
    text-align: center;
}

.details-img {
    width: 80px;
    margin: 2vw;
    box-shadow: 2px 2px 5px 2px #888888;
}
.about-img {
    border-radius: 15px;
}

.why-img {
    border-radius: 50%;
}

h4 {
    text-align: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
}
.icon {
    width: 30px;
    color: #53aaa6;
}


@media only screen and (min-width: 600px) {
    .container {
        display: flex;
        align-items: center;
    }
    p {
        font-size: small;
    }
    .details-img {
        width: 120px;
    }
    .icon {
        width: 40px;
    }
  }


@media only screen and (min-width: 900px) {
    .details {
        margin:0 auto;
        width: 900px;
    }
    p {
        font-size: medium;
    }
    .details-img {
        width: 150px;
    }

    .icon {
        width: 50px;
    }
  }

