
/* Image Aspect Ratio - 1933 x 440 */

.slider {
    position: relative;
    width: 100vw;
    height: 22.760vw;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide.is-visible {
	display: block;
}

img {
    max-width: 100%;
    max-height: 100%;
}


.nav {
    position: absolute;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

#left-button {
    top: 75%;
    left: 6%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#right-button {
    top: 75%;
    left: 94%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/* Application Text styling */

.application {
    padding: 8vw;
    font-family: Lato, Helvetica, sans-serif;
}

.application div {
    margin-bottom: 6vw;
}

.application div h1, .links {
    text-align: center;
    /* text-decoration: underline; */
    color: #4F5165;
}

h2 {
    color: #53aaa6;
}

.application div h3 {
    margin: 2vw;
    color: #7c7c7c;
}

hr {
    width: 75%;
}

p {
    font-size:1vw;
}

@media screen and (min-width: 900px) {
    .application {
        margin:0 auto;
        width: 900px;
    }
  }

