body {
    display: flex;
    justify-content:flex-start; 
    flex-direction: column;
}

.carousel {
    width: 100%;
}

.navigation {
    position: absolute;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

#left-button {
    top: 15vw;
    left: 6%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#right-button {
    top: 15vw;
    left: 94%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
  
.slide-holder {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.slide-holder > .slide {
    position: relative;
    display: none;
    animation: 0.5s ease-in-out;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
}

.slide-holder > .active,
.slide-holder > .next {
    display: block;
}
  
.slide-holder > .next {
    position: absolute;
    top: 0;
    width: 100%;
}
  
.slide-holder > .to-left {
    animation-name: left;
}
  
.slide-holder > .from-right {
    animation-name: right;
}
  
.slide-holder > .to-right {
    animation-name: right;
    animation-direction: reverse;
}
  
.slide-holder > .from-left {
    animation-name: left;
    animation-direction: reverse;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}
  
@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

/* Application Text styling */

.application {
    padding-left: 8vw;
    padding-right: 8vw;
    font-family: Lato, Helvetica, sans-serif;
    display: block;
}

.application div {
    margin-bottom: 6vw;
}

.application div h1, .links {
    text-align: center;
    /* text-decoration: underline; */
    color: #4F5165;
}

h2 {
    color: #53aaa6;
}

.application div h3 {
    margin: 2vw;
    color: #7c7c7c;
}

hr {
    width: 75%;
}

p {
    font-size:1vw;
}


@media screen and (min-width: 900px) {
    .application {
        margin:0 auto;
        width: 900px;
    }
  }

